.main-div {
  padding: 10px;
  height: 100vh;
}

@media (min-width: 576px) {
  /* Small devices (576px and up) */
  .main-div {
    background-color: rgb(31, 31, 31);
    color: white;
  }
}

@media (min-width: 768px) {
  /* Medium devices (768px and up) */
  .main-div {
    /* Additional styles for medium devices */
  }
}

@media (min-width: 992px) {
  /* Large devices (992px and up) */
  .main-div {
    /* Additional styles for large devices */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (1200px and up) */
  .main-div {
    /* Additional styles for extra large devices */
  }
}
